.table {
  position: relative;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 6%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 9%);
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 2.6fr 1fr 1fr;
  border-bottom: 1px solid rgb(0 0 0 / 6%);
}

.sortCell {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 0.3rem;
  background: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: rgb(0 0 0 / 3%);
  }

  &:active {
    background-color: rgb(0 0 0 / 6%);
  }
}

.cell {
  border-right: 1px solid rgb(0 0 0 / 6%);
  padding: 0.6rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:last-child {
    border-right: 0;
  }
}

.head {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;

  .cell {
    font-weight: 600;
    font-size: 0.86rem;
    color: rgb(0 0 0 / 32%);

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.body {
  .cell {
    color: rgb(0 0 0 / 86%);
  }

  .row:last-of-type {
    border-bottom: 0;
  }
}
