.tablePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
}

.titleBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex: 0 0 auto;
}
